.app,
body {
  font-family: serif;
  scroll-behavior: smooth;
}

.header {
  background-color: #f6f6f6;
  letter-spacing: 0.5px;
  word-spacing: 4px;
  color: #4a4a4a;
  font-weight: 700;
  font-size: 22px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f6f6f6;
  letter-spacing: 0.5px;
  word-spacing: 4px;
  color: #4a4a4a;
  font-weight: 700;
  font-size: 20px;
}

/* .support-footer {
    text-decoration: none;
    color: #4a4a4a;
    transition: all 0.5s;
}

.support-footer:hover {
    scale: 1.03;
} */

.register-head {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #f6f6f6;
  letter-spacing: 0.5px;
  word-spacing: 4px;
  color: #4a4a4a;
  font-weight: 700;
  font-size: 20px;
}

.btn-common {
  background-color: #f6f6f6 !important;
  border: 1px solid #d9d9d9 !important;
  color: #4a4a4a !important;
  font-weight: bold !important;
  font-size: 16px !important;
  letter-spacing: 0.5px !important;
}

.btn-common:active,
.btn-common:hover {
  background-color: #fff !important;
  border: 1px solid #d9d9d9 !important;
  color: #4a4a4a !important;
}

.forgot-btn {
  border: none !important;
  background-color: transparent !important;
  font-weight: bold !important;
  font-size: 16px !important;
  color: #4a4a4a !important;
  letter-spacing: 0.5px !important;
  transition: all 0.5s ease-in-out;
}

.forgot-btn:hover,
.forgot-btn:active {
  border: none;
  background-color: transparent;
  color: #4a4a4a;
  scale: 1.03;
}

.input-label {
  color: #4a4a4a;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.input-text {
  border: none !important;
  border-radius: 0px !important;
  border-top-right-radius: 4px !important;
  border-top-left-radius: 4px !important;
  border-bottom: 1px solid #d9d9d9 !important;
  outline: none !important;
  box-shadow: none !important;
  color: #4a4a4a !important;
  font-size: 16px !important;
  letter-spacing: 0.5px !important;
  font-weight: bold;
  background-color: #f6f6f6 !important;
  padding: 10px !important;
}

.waiting-cursor {
  cursor: wait !important;
}

.register-parent {
  /* border: 1px solid #d9d9d9; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.navbar-parent {
  font-size: 18px !important;
  letter-spacing: 0.5px !important;
  background-color: #f6f6f6 !important;
}

.nav-link.active {
  font-weight: bold;
  /* border-bottom: 2px solid #4a4a4a; */
}

/* .navbar-brand {
    background-color: #4a4a4a;
    border-radius: 0px 50px 50px 0px;
} */

.table-parent {
  max-height: 400px;
}

.table-child td {
  font-size: 16px !important;
  background-color: #fff !important;
  color: #4a4a4a !important;
  min-width: 100px !important;
  text-align: center !important;
  vertical-align: middle !important;
}

.table-child th {
  font-size: 16px !important;
  background-color: #f6f6f6 !important;
  color: #4a4a4a !important;
  text-align: center !important;
  vertical-align: middle !important;
}

.no-data {
  font-size: 18px;
  color: #4a4a4a;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  font-weight: 700;
}

.no-data-img {
  max-height: 250px;
}

.page-not-text {
  font-size: 25px;
  color: #4a4a4a;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  font-weight: 700;
}

.pro-parent {
  letter-spacing: 0.3px;
  word-spacing: 2px;
  word-wrap: break-word;
  text-align: justify;
}

.pro-label {
  font-size: 16px;
  font-weight: bold;
  color: #4a4a4a;
}

.pro-details {
  font-size: 16px;
  font-weight: 500;
  color: #4a4a4a;
}

.update-head {
  font-size: 18px;
  font-weight: bold;
  background-color: #4a4a4a;
  color: #ccd0d8;
}

.update-pro-modal {
  background-color: #fff !important;
  color: #4a4a4a !important;
}

.disable-cursor {
  cursor: not-allowed !important;
}

.toggle-btn {
  /* border: 2px solid #4a4a4a !important; */
  color: #ccd0d8 !important;
}

.products {
  background-color: #4a4a4a;
}

.single-desc-parent {
  /* border-top: 2px solid #4a4a4a !important; */
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px;
  background-color: #f6f6f6;
  color: #4a4a4a;
  font-size: 16px;
  letter-spacing: 0.3px;
  word-spacing: 2px;
}

.search {
  box-shadow: none !important;
  outline: none !important;
  border-color: #d9d9d9 !important;
  font-size: 16px;
  letter-spacing: 0.3px;
  word-spacing: 2px;
}

.image-carousel {
  background-color: #f6f6f6;
}

.product-image {
  width: 100%;
}

.product-name {
  font-weight: bold;
  max-height: 50px;
  overflow-y: scroll;
}

.product-description {
  max-height: 100px;
  overflow-y: scroll;
}

.image-carousel {
  height: fit-content !important;
  padding-bottom: 0% !important;
}

.register-parent,
.header,
.register-form,
body,
.orders-parent,
.change-password {
  animation: slideUp 2s;
}

@keyframes slideUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px !important;
  background-color: transparent !important;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d9d9d9 !important;
  border-radius: 10px !important;
}

.table-parent::-webkit-scrollbar,
.pro-grand-parent::-webkit-scrollbar {
  height: 5px !important;
  width: 5px !important;
}

/* Track */
.table-parent::-webkit-scrollbar-track,
.pro-grand-parent::-webkit-scrollbar-track {
  border-radius: 10px !important;
}

/* Handle */
.table-parent::-webkit-scrollbar-thumb,
.pro-grand-parent::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
}